.buddywindow {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.buddyList {
  cursor: pointer;
}

.bannerimage {
  text-align: center;
  padding: 10px 0;
  .splashimage {
    width: 80%;
    height: auto;
  }
}

.onlineusername {
  font-weight: bold;
}

.buddylistcontainer {
  background-color: white;
  width: 100%;
  box-shadow:  -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
  border-radius: 0;
  box-sizing: border-box;
  // height: 180px;
  padding: 3px 4px;
  margin-bottom: 10px;
}